## Feature Engineering (Attempt 1)
#### This attempt focuses on grouping extra columns together to reduce the dimensionality of the demographic data from ACS.

### This file is primarily for the purpose of feature engineering to produce a final clean dataframe with all values from ACS and ZRI together. Data generated here will be used for the purpose of training the models.

In [ ]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
pd.set_option("max_rows", None)
from matplotlib import pyplot as plt
%matplotlib inline
from google.cloud import bigquery
import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="./utility-vista-307720-6cec755818c9.json"
client = bigquery.Client()
%load_ext google.cloud.bigquery

### Extracting data from years 2015-2017 from Google BigQuery

In [ ]:


%%bigquery acs_zip_codes_2015_5yr
SELECT *
FROM
    `bigquery-public-data.census_bureau_acs.zip_codes_2015_5yr`
WHERE geo_id in ('85032', '85281', '85225', '85308', '85142', '85251', '85282',
       '85383', '85204', '85345', '85301', '85022', '85008', '85255',
       '85201', '85326', '85351', '85338', '85205', '85374', '85254',
       '85248', '85207', '85122', '85016', '85224', '85283', '85209',
       '85018', '85382', '85260', '85044', '85029', '85041', '85206',
       '85234', '85020', '85295', '85208', '85021', '85202', '85296',
       '85249', '85286', '85027', '85226', '85015', '85051', '85086',
       '85033', '85120', '85302', '85210', '85138', '85035', '85379',
       '85042', '85233', '85213', '85037', '85257', '85023', '85339',
       '85212', '85143', '85140', '85048', '85014', '85323', '85395',
       '85392', '85268', '85203', '85050', '85009', '85331', '85017',
       '85053', '85340', '85353', '85396', '85119', '85024', '85132',
       '85335', '85013', '85085', '85040', '85381', '85304', '85303',
       '85388', '85306', '85006', '85373', '85250', '85043', '85215',
       '85028', '85031', '85019', '85284', '85262', '85118', '85139',
       '85310', '85083', '85266', '85128', '85007', '85305', '85004',
       '85003', '85131', '85390', '85012', '85355', '85123', '85087',
       '85378', '85307', '85194', '85363', '85045', '85361', '85623',
       '85034', '85263', '85377', '85631', '85173');

In [ ]:
%%bigquery acs_zip_codes_2016_5yr
SELECT *
FROM
    `bigquery-public-data.census_bureau_acs.zip_codes_2016_5yr`
WHERE geo_id in ('85032', '85281', '85225', '85308', '85142', '85251', '85282',
       '85383', '85204', '85345', '85301', '85022', '85008', '85255',
       '85201', '85326', '85351', '85338', '85205', '85374', '85254',
       '85248', '85207', '85122', '85016', '85224', '85283', '85209',
       '85018', '85382', '85260', '85044', '85029', '85041', '85206',
       '85234', '85020', '85295', '85208', '85021', '85202', '85296',
       '85249', '85286', '85027', '85226', '85015', '85051', '85086',
       '85033', '85120', '85302', '85210', '85138', '85035', '85379',
       '85042', '85233', '85213', '85037', '85257', '85023', '85339',
       '85212', '85143', '85140', '85048', '85014', '85323', '85395',
       '85392', '85268', '85203', '85050', '85009', '85331', '85017',
       '85053', '85340', '85353', '85396', '85119', '85024', '85132',
       '85335', '85013', '85085', '85040', '85381', '85304', '85303',
       '85388', '85306', '85006', '85373', '85250', '85043', '85215',
       '85028', '85031', '85019', '85284', '85262', '85118', '85139',
       '85310', '85083', '85266', '85128', '85007', '85305', '85004',
       '85003', '85131', '85390', '85012', '85355', '85123', '85087',
       '85378', '85307', '85194', '85363', '85045', '85361', '85623',
       '85034', '85263', '85377', '85631', '85173');

In [ ]:
%%bigquery acs_zip_codes_2017_5yr
SELECT *
FROM
    `bigquery-public-data.census_bureau_acs.zip_codes_2017_5yr`
WHERE geo_id in ('85032', '85281', '85225', '85308', '85142', '85251', '85282',
       '85383', '85204', '85345', '85301', '85022', '85008', '85255',
       '85201', '85326', '85351', '85338', '85205', '85374', '85254',
       '85248', '85207', '85122', '85016', '85224', '85283', '85209',
       '85018', '85382', '85260', '85044', '85029', '85041', '85206',
       '85234', '85020', '85295', '85208', '85021', '85202', '85296',
       '85249', '85286', '85027', '85226', '85015', '85051', '85086',
       '85033', '85120', '85302', '85210', '85138', '85035', '85379',
       '85042', '85233', '85213', '85037', '85257', '85023', '85339',
       '85212', '85143', '85140', '85048', '85014', '85323', '85395',
       '85392', '85268', '85203', '85050', '85009', '85331', '85017',
       '85053', '85340', '85353', '85396', '85119', '85024', '85132',
       '85335', '85013', '85085', '85040', '85381', '85304', '85303',
       '85388', '85306', '85006', '85373', '85250', '85043', '85215',
       '85028', '85031', '85019', '85284', '85262', '85118', '85139',
       '85310', '85083', '85266', '85128', '85007', '85305', '85004',
       '85003', '85131', '85390', '85012', '85355', '85123', '85087',
       '85378', '85307', '85194', '85363', '85045', '85361', '85623',
       '85034', '85263', '85377', '85631', '85173');

In [ ]:
acs_zip_codes_2015_5yr["Year"]=2015
acs_zip_codes_2016_5yr["Year"]=2016
acs_zip_codes_2017_5yr["Year"]=2017

In [ ]:
acs_cols_2015=acs_zip_codes_2015_5yr.columns
acs_cols_2016=acs_zip_codes_2016_5yr.columns
acs_cols_2017=acs_zip_codes_2017_5yr.columns

In [ ]:
acs_cols_2017.tolist().index('pop_separated')

In [ ]:
common_columns=list((((
(set(acs_cols_2015))).intersection(set(acs_cols_2016)))
                    .intersection(set(acs_cols_2017))))

In [ ]:
frames=[acs_zip_codes_2015_5yr[common_columns],
        acs_zip_codes_2016_5yr[common_columns],
        acs_zip_codes_2017_5yr[common_columns]]
acs_all_phoenix=pd.concat(frames)

In [ ]:
acs_all_phoenix.head()
acs_all_phoenix.shape

#### Calculating the extent of missingness in the data we have collected from 2015-2017

In [ ]:
missingRowsACS = pd.isnull(acs_all_phoenix).sum(axis=1) > 0
missingColsACS = pd.isnull(acs_all_phoenix).sum(axis=0) > 0
print(missingColsACS.sum())
print(missingRowsACS.sum())

In [ ]:
#Drop columns that have missing data for 2 or more zipcodes
for col in acs_all_phoenix.columns[missingColsACS]:
    if pd.isnull(acs_all_phoenix[col]).sum()>=0: 
        print(f"Dropping {col} from ACS")
        acs_all_phoenix.drop(col,axis=1,inplace=True)

In [ ]:
acs_all_phoenix.shape

In [ ]:
acs_all_phoenix.isnull().sum()

In [ ]:
acs_all_phoenix = acs_all_phoenix.reindex(sorted(acs_all_phoenix.columns), axis=1)

In [ ]:
acs_all_phoenix.columns.tolist()

#### Grouping female age columns together

In [ ]:
female_under_18 = acs_all_phoenix.female_under_5 + acs_all_phoenix.female_5_to_9 + acs_all_phoenix.female_10_to_14 + acs_all_phoenix.female_15_to_17 + acs_all_phoenix.female_18_to_19
female_under_60 = acs_all_phoenix.female_20 + acs_all_phoenix.female_21 + acs_all_phoenix.female_22_to_24 + acs_all_phoenix.female_25_to_29 + acs_all_phoenix.female_30_to_34 + acs_all_phoenix.female_35_to_39 + acs_all_phoenix.female_40_to_44 + acs_all_phoenix.female_45_to_49 + acs_all_phoenix.female_50_to_54 + acs_all_phoenix.female_55_to_59 
female_over_60 = acs_all_phoenix.female_60_to_61 + acs_all_phoenix.female_62_to_64 + acs_all_phoenix.female_65_to_66 + acs_all_phoenix.female_67_to_69 + acs_all_phoenix.female_70_to_74 + acs_all_phoenix.female_75_to_79 + acs_all_phoenix.female_80_to_84 + acs_all_phoenix.female_85_and_over

In [ ]:
female_under_18 = female_under_18.astype(float)
female_under_60 = female_under_60.astype(float)
female_over_60 = female_over_60.astype(float)

#### Grouping male age columns together

In [ ]:
male_under_18 = acs_all_phoenix.male_under_5 + acs_all_phoenix.male_5_to_9 + acs_all_phoenix.male_10_to_14 + acs_all_phoenix.male_15_to_17 + acs_all_phoenix.male_18_to_19
male_under_60 = acs_all_phoenix.male_20 + acs_all_phoenix.male_21 + acs_all_phoenix.male_22_to_24 + acs_all_phoenix.male_25_to_29 + acs_all_phoenix.male_30_to_34 + acs_all_phoenix.male_35_to_39 + acs_all_phoenix.male_40_to_44 + acs_all_phoenix.male_45_to_49 + acs_all_phoenix.male_50_to_54 + acs_all_phoenix.male_55_to_59 
male_over_60 = acs_all_phoenix.male_60_61 + acs_all_phoenix.male_62_64 + acs_all_phoenix.male_65_to_66 + acs_all_phoenix.male_67_to_69 + acs_all_phoenix.male_70_to_74 + acs_all_phoenix.male_75_to_79 + acs_all_phoenix.male_80_to_84 + acs_all_phoenix.male_85_and_over

In [ ]:
male_under_18 = male_under_18.astype(float)
male_under_60 = male_under_60.astype(float)
male_over_60 = male_over_60.astype(float)

#### Grouping rent affordability columns together

In [ ]:
under10 = acs_all_phoenix.rent_under_10_percent
tento50 = acs_all_phoenix.rent_40_to_50_percent + acs_all_phoenix.rent_35_to_40_percent + acs_all_phoenix.rent_30_to_35_percent+ acs_all_phoenix.rent_25_to_30_percent + acs_all_phoenix.rent_20_to_25_percent + acs_all_phoenix.rent_15_to_20_percent + acs_all_phoenix.rent_10_to_15_percent
over50 = acs_all_phoenix.rent_over_50_percent
uncomputed = acs_all_phoenix.rent_burden_not_computed

In [ ]:
rent_under10 = under10.astype(float)
rent_tento50 = tento50.astype(float)
rent_over50 = over50.astype(float)
rent_uncomputed = uncomputed.astype(float)

#### Grouping dwellings columns together

In [ ]:
small_dwellings = acs_all_phoenix.dwellings_1_units_attached + acs_all_phoenix.dwellings_1_units_detached + acs_all_phoenix.dwellings_2_units + acs_all_phoenix.dwellings_3_to_4_units + acs_all_phoenix.dwellings_5_to_9_units
large_dwellings = acs_all_phoenix.dwellings_10_to_19_units + acs_all_phoenix.dwellings_20_to_49_units + acs_all_phoenix.dwellings_50_or_more_units

In [ ]:
small_dwellings = small_dwellings.astype(float)
large_dwellings = large_dwellings.astype(float)

#### Grouping commute time together

In [ ]:
commute_less_than_30 = acs_all_phoenix.commute_5_9_mins + acs_all_phoenix.commute_less_10_mins + acs_all_phoenix.commute_10_14_mins + acs_all_phoenix.commute_15_19_mins + acs_all_phoenix.commute_20_24_mins + acs_all_phoenix.commute_25_29_mins
commute_less_than_60 = acs_all_phoenix.commute_30_34_mins + acs_all_phoenix.commute_35_39_mins + acs_all_phoenix.commute_35_44_mins + acs_all_phoenix.commute_40_44_mins + acs_all_phoenix.commute_45_59_mins
commute_over_60 = acs_all_phoenix.commute_60_89_mins + acs_all_phoenix.commute_60_more_mins + acs_all_phoenix.commute_90_more_mins

In [ ]:
commute_less_than_30 = commute_less_than_30.astype(float)
commute_less_than_60 = commute_less_than_60.astype(float)
commute_over_60 = commute_over_60.astype(float)

#### Grouping income levels together

In [ ]:
income_less_than_60000 = acs_all_phoenix.income_less_10000 + acs_all_phoenix.income_10000_14999 + acs_all_phoenix.income_15000_19999 + acs_all_phoenix.income_20000_24999 + acs_all_phoenix.income_25000_29999 + acs_all_phoenix.income_30000_34999 + acs_all_phoenix.income_35000_39999 + acs_all_phoenix.income_40000_44999 + acs_all_phoenix.income_45000_49999 + acs_all_phoenix.income_50000_59999
income_less_than_125000 = acs_all_phoenix.income_60000_74999 + acs_all_phoenix.income_75000_99999 + acs_all_phoenix.income_100000_124999
income_over_125000 = acs_all_phoenix.income_125000_149999 + acs_all_phoenix.income_150000_199999 + acs_all_phoenix.income_200000_or_more

In [ ]:
income_less_than_60000 = income_less_than_60000.astype(float)
income_less_than_125000 = income_less_than_125000.astype(float)
income_over_125000 = income_over_125000.astype(float)

#### Grouping employment industries together

In [ ]:
employed_creative = acs_all_phoenix.employed_arts_entertainment_recreation_accommodation_food
employed_prof = acs_all_phoenix.employed_education_health_social + acs_all_phoenix.employed_finance_insurance_real_estate + acs_all_phoenix.employed_information + acs_all_phoenix.employed_science_management_admin_waste
employed_skill = acs_all_phoenix.employed_manufacturing + acs_all_phoenix.employed_construction + acs_all_phoenix.employed_agriculture_forestry_fishing_hunting_mining
employed_service = acs_all_phoenix.employed_retail_trade + acs_all_phoenix.employed_other_services_not_public_admin + acs_all_phoenix.employed_public_administration + acs_all_phoenix.employed_transportation_warehousing_utilities + acs_all_phoenix.employed_wholesale_trade

#### Choosing family type columns

In [ ]:
two_parent_hh = acs_all_phoenix.two_parent_families_with_young_children.astype(float)
one_parent_hh = acs_all_phoenix.one_parent_families_with_young_children.astype(float)

#### Choosing population columns

In [ ]:
asian_pop = acs_all_phoenix.asian_pop.astype(float)
asian_including_hispanic = acs_all_phoenix.asian_including_hispanic.astype(float)
black_pop = acs_all_phoenix.black_pop.astype(float)
hispanic_pop = acs_all_phoenix.hispanic_pop.astype(float)
white_pop = acs_all_phoenix.white_pop.astype(float)
amerindian_pop = acs_all_phoenix.amerindian_pop.astype(float)
amerindian_including_hispanic = acs_all_phoenix.amerindian_including_hispanic.astype(float)
other_race_pop = acs_all_phoenix.other_race_pop.astype(float)
two_or_more_races_pop = acs_all_phoenix.other_race_pop.astype(float)
not_hispanic_pop = acs_all_phoenix.not_hispanic_pop.astype(float)
not_us_citizen_pop = acs_all_phoenix.not_us_citizen_pop.astype(float)
total_pop = acs_all_phoenix.total_pop.astype(float)

In [ ]:
pop_columns = [asian_pop, amerindian_pop, black_pop, hispanic_pop, white_pop, amerindian_including_hispanic,other_race_pop,two_or_more_races_pop]

In [ ]:
print(asian_pop.sum()+amerindian_pop.sum()+black_pop.sum()+hispanic_pop.sum()+white_pop.sum()+amerindian_including_hispanic.sum()+other_race_pop.sum()+two_or_more_races_pop.sum())
print(total_pop.sum())
print(not_hispanic_pop.sum()+hispanic_pop.sum())

#### Grouping education level columns together

In [ ]:
college_educated = acs_all_phoenix.in_undergrad_college + acs_all_phoenix.some_college_and_associates_degree + acs_all_phoenix.associates_degree + acs_all_phoenix.bachelors_degree + acs_all_phoenix.bachelors_degree_2 +acs_all_phoenix.bachelors_degree_or_higher_25_64 + acs_all_phoenix.masters_degree + acs_all_phoenix.graduate_professional_degree + acs_all_phoenix.one_year_more_college     
in_school = acs_all_phoenix.in_grades_1_to_4 + acs_all_phoenix.in_grades_5_to_8 + acs_all_phoenix.in_grades_9_to_12
inschoolcheck = acs_all_phoenix.in_school
less_than_college_educated = acs_all_phoenix.less_one_year_college + + acs_all_phoenix.less_one_year_college
high_school_educated = acs_all_phoenix.high_school_diploma + acs_all_phoenix.high_school_including_ged

In [ ]:
college_educated = college_educated.astype(float)
in_school = in_school.astype(float)
inschoolcheck = inschoolcheck.astype(float) 
less_than_college_educated = less_than_college_educated.astype(float)
high_school_educated = high_school_educated.astype(float)

In [ ]:
print(in_school.sum())
print(inschoolcheck.sum())

#### Grouping commute type columns together

In [ ]:
public_commute = acs_all_phoenix.commuters_by_public_transportation + acs_all_phoenix.commuters_by_subway_or_elevated + acs_all_phoenix.commuters_by_bus
personal_commute = acs_all_phoenix.commuters_by_car_truck_van + acs_all_phoenix.commuters_by_carpool + acs_all_phoenix.commuters_drove_alone

In [ ]:
public_commute = public_commute.astype(float)
personal_commute = personal_commute.astype(float)

#### Choosing housing units columns

In [ ]:
vacant_housing_units = acs_all_phoenix.vacant_housing_units.astype(float)
vacant_housing_units_for_rent = acs_all_phoenix.vacant_housing_units_for_rent.astype(float)
vacant_housing_units_for_sale = acs_all_phoenix.vacant_housing_units_for_sale.astype(float)

In [ ]:
print(vacant_housing_units.sum())
print(vacant_housing_units_for_rent.sum()+vacant_housing_units_for_sale.sum())

#### Choosing owner occuppied housing units

In [ ]:
owner_occupied_housing_units = acs_all_phoenix.owner_occupied_housing_units.astype(float)
owner_occupied_housing_units_lower_value_quartile = acs_all_phoenix.owner_occupied_housing_units_lower_value_quartile.astype(float)
owner_occupied_housing_units_median_value = acs_all_phoenix.owner_occupied_housing_units_median_value.astype(float)
owner_occupied_housing_units_upper_value_quartile = acs_all_phoenix.owner_occupied_housing_units_upper_value_quartile.astype(float)

#### Choosing employment information

In [ ]:
unemployed_pop = acs_all_phoenix.unemployed_pop.astype(float)
employed_pop = acs_all_phoenix.employed_pop.astype(float)

#### Choosing family information

In [ ]:
family_households = acs_all_phoenix.family_households.astype(float)
nonfamily_households = acs_all_phoenix.nonfamily_households.astype(float)

#### Choosing remaining miscelleanous columns

In [ ]:
Year = acs_all_phoenix.Year.astype(int)
geo_id = acs_all_phoenix.geo_id.astype(int)
gini_index = acs_all_phoenix.gini_index.astype(float)
income_per_capita = acs_all_phoenix.income_per_capita.astype(float)
median_age = acs_all_phoenix.median_age.astype(float)
median_income = acs_all_phoenix.median_income.astype(float)
married_households = acs_all_phoenix.married_households.astype(float)

#### Building the final dataframe for ACS features before combining with ZRI information

In [ ]:
dict = {'Year': Year, 'geo_id': geo_id, 'gini_index':gini_index, 'income_per_capita':income_per_capita,
       'median_age':median_age, 'median_income':median_income, 'married_households':married_households,
       'family_households':family_households, 'nonfamily_households':nonfamily_households,
       'unemployed_pop':unemployed_pop, 'employed_pop':employed_pop, 'owner_occupied_housing_units':owner_occupied_housing_units,
       'owner_occupied_housing_units_lower_value_quartile':owner_occupied_housing_units_lower_value_quartile,
       'owner_occupied_housing_units_median_value':owner_occupied_housing_units_median_value,
       'owner_occupied_housing_units_upper_value_quartile':owner_occupied_housing_units_upper_value_quartile,
       'vacant_housing_units':vacant_housing_units,'vacant_housing_units_for_rent':vacant_housing_units_for_rent,
       'vacant_housing_units_for_sale':vacant_housing_units_for_sale, 'public_commute':public_commute,
       'personal_commute':personal_commute, 'college_educated':college_educated, 'in_school':in_school,
       'less_than_college_educated':less_than_college_educated, 'high_school_educated':high_school_educated,
       'asian_pop':asian_pop, 'amerindian_pop':amerindian_pop, 'black_pop':black_pop, 'hispanic_pop':hispanic_pop, 
        'white_pop':white_pop, 'amerindian_including_hispanic':amerindian_including_hispanic,
        'other_race_pop':other_race_pop,'two_or_more_races_pop':two_or_more_races_pop, 'two_parent_hh':two_parent_hh,
       'one_parent_hh':one_parent_hh,'employed_creative':employed_creative, 'employed_prof':employed_prof,
       'employed_skill':employed_skill, 'employed_service':employed_service,'income_less_than_60000':income_less_than_60000,
       'income_less_than_125000':income_less_than_125000, 'income_over_125000':income_over_125000,
       'commute_less_than_30':commute_less_than_30, 'commute_less_than_60':commute_less_than_60,
       'commute_over_60':commute_over_60, 'small_dwellings':small_dwellings, 'large_dwellings':large_dwellings,
       'rent_under10':rent_under10, 'rent_tento50':rent_tento50, 'rent_over50':rent_over50, 'rent_uncomputed':rent_uncomputed,
       'male_under_18':male_under_18, 'male_under_60':male_under_60, 'male_over_60':male_over_60,
       'female_under_18':female_under_18, 'female_under_60':female_under_60, 'female_over_60':female_over_60}

In [ ]:
acs_final = pd.DataFrame(dict)

In [ ]:
acs_final.shape

In [ ]:
acs_final.head()

In [ ]:
import seaborn as sns
corr_df =  acs_final.corr(method='pearson') 

df_lt = corr_df.where(np.tril(np.ones(corr_df.shape)).astype(np.bool))

hmap=sns.heatmap(df_lt,cmap="Spectral")
hmap

In [ ]:
x_std=acs_final.astype(float)
for col in x_std.columns:
     x_std[col]=(x_std[col]-x_std[col].mean())/x_std[col].std()
x_std.sample(2)

In [ ]:
for col in acs_final.columns:
    print(col)

In [ ]:
#initial analysis
kmeans_keep_list=[
    'family_households',
    'nonfamily_households',
    'unemployed_pop',
    'owner_occupied_housing_units',
    'vacant_housing_units',
    'public_commute',
    'personal_commute'
    'college_educated',
    'two_parent_hh',
    'one_parent_hh',
    'public_commute',
    'personal_commute',
    'small_dwellings',
    'large_dwellings',
    
]
#categories to study further
#population,rent_burden
#gender age to be separated
households_type2=[
    'married_households',
    'family_households',
    'nonfamily_households'
]

households_type=[
'married_households',
'family_households',
'nonfamily_households',
'median_income'
]
employment_status=[
'unemployed_pop',
'employed_pop',
'median_income'
]
housing_unit_types=[
'owner_occupied_housing_units',
'owner_occupied_housing_units_lower_value_quartile',
'owner_occupied_housing_units_median_value',
'owner_occupied_housing_units_upper_value_quartile',
'vacant_housing_units',
'vacant_housing_units_for_rent',
'vacant_housing_units_for_sale',
    'median_income'
]
commute_type=[
'public_commute',
'personal_commute',
        'median_income'


]
education=[
'college_educated',
'in_school',
'less_than_college_educated',
'high_school_educated',
     'median_income'

   
]
pop_category=[
'asian_pop',
'amerindian_pop',
'black_pop',
'hispanic_pop',
'white_pop',
'amerindian_including_hispanic',
'other_race_pop',
'two_or_more_races_pop',
        'median_income'
]

parents_type=[    
'two_parent_hh',
'one_parent_hh',
    'median_income'
]

job_types=[
    'employed_creative',
'employed_prof',
'employed_skill',
'employed_service',
        'median_income'
]

income_cat=[
'income_less_than_60000',
'income_less_than_125000',
'income_over_125000',
    'median_income'

]

commute_length=[
'commute_less_than_30',
'commute_less_than_60',
'commute_over_60',
    'median_income'


]

dwelling_type=[
'small_dwellings',
'large_dwellings',
        'median_income'
]

rent_burden=[
'rent_under10',
'rent_tento50',
'rent_over50',
'rent_uncomputed',
    'median_income'


]

gender_age=[
'male_under_18',
'male_under_60',
'male_over_60',
'female_under_18',
'female_under_60',
'female_over_60',
    'median_income'


]
kmeangroupings=[
    households_type,
    employment_status,
    housing_unit_types,
    commute_type,
    education,
    pop_category,
    parents_type,
    job_types,
    income_cat,
    commute_length,
    dwelling_type,
    rent_burden,
    gender_age
]
kmeanGroupingNames=[
    "Households Type",
    "Employment Status",
    "Housing Unit Types",
    "Commute Type",
    "Education",
    "Population Category",
    "Parents Type",
    "Job Types",
    "Income Category",
    "Cummute Length",
    "Dwelling Type",
    "Rent Burden",
    "Gender and Age"
]

In [ ]:
from sklearn.cluster import KMeans
plt.figure(figsize=(10,10))  # change the size of figure!
subplotIdx=0
for idx,name in enumerate(kmeanGroupingNames):
    plt.figure(figsize=(20,20)) 
    inertias=[]
    for i in range (1,30):
        kmeans=KMeans(i)
        kmeans.fit(x_std[kmeangroupings[idx]])
        inertias.append(kmeans.inertia_)
    plt.subplot(5,2, subplotIdx+1)
    plt.title(name)
    plt.plot(range(1,30),inertias)
    plt.xlabel('Number of Clusters')
    plt.ylabel('Inertia')
    plt.show()

In [ ]:
print("Kmeans")
k_means_new0=KMeans(3)
k_means_new0.fit(x_std[households_type2])
cluster_new0=x_std[households_type2].copy()
y_kmeans=k_means_new0.fit_predict(x_std[households_type2])
cluster_new0['cluster_pred']=k_means_new0.fit_predict(x_std[households_type2])
plt.scatter(cluster_new0[cluster_new0["cluster_pred"]==0]["family_households"],cluster_new0[cluster_new0["cluster_pred"]==0]["married_households"], c='red',s=10)
plt.scatter(cluster_new0[cluster_new0["cluster_pred"]==1]["family_households"],cluster_new0[cluster_new0["cluster_pred"]==1]["married_households"], c='blue',s=10)
plt.scatter(cluster_new0[cluster_new0["cluster_pred"]==2]["family_households"],cluster_new0[cluster_new0["cluster_pred"]==2]["married_households"], c='green',s=10)

In [ ]:
print(kmeanGroupingNames[0])
k_means_new0=KMeans(3)
k_means_new0.fit(x_std[kmeangroupings[0]])
cluster_new0=x_std[kmeangroupings[0]].copy()
cluster_new0['cluster_pred']=k_means_new0.fit_predict(x_std[kmeangroupings[0]])
plt.figure(figsize=(20,20))  # change the size of figure!
i=0
for col in cluster_new0.columns:
    plt.subplot(5,2, i+1)
    plt.title(col+"   "+"median_income")
    centers1 = k_means_new0.cluster_centers_
    plt.scatter(cluster_new0[col],cluster_new0["median_income"], c=cluster_new0["cluster_pred"],s=10)
    plt.scatter(centers1[:, 0], centers1[:, 1], c='red', s=20);
    plt.subplots_adjust(left=None, bottom=None, right=None, top=None, wspace=None, hspace=0.4)
    i+=1

In [ ]:
print(kmeanGroupingNames[1])
k_means_new1=KMeans(3)
k_means_new1.fit(x_std[kmeangroupings[1]])
cluster_new1=x_std[kmeangroupings[1]].copy()
cluster_new1['cluster_pred']=k_means_new1.fit_predict(x_std[kmeangroupings[1]])
plt.figure(figsize=(20,20))  # change the size of figure!
i=0
for col in cluster_new1.columns:
    plt.subplot(5,2, i+1)
    plt.title(col+"   "+"median_income")
    centers1 = k_means_new1.cluster_centers_
    plt.scatter(cluster_new1[col],cluster_new1["median_income"], c=cluster_new1["cluster_pred"],s=10)
    plt.scatter(centers1[:, 0], centers1[:, 1], c='red', s=20);
    plt.subplots_adjust(left=None, bottom=None, right=None, top=None, wspace=None, hspace=0.4)
    i+=1

In [ ]:
print(kmeanGroupingNames[2])
k_means_new2=KMeans(3)
k_means_new2.fit(x_std[kmeangroupings[2]])
cluster_new2=x_std[kmeangroupings[2]].copy()
cluster_new2['cluster_pred']=k_means_new2.fit_predict(x_std[kmeangroupings[2]])
plt.figure(figsize=(20,20))  # change the size of figure!
i=0
for col in cluster_new2.columns:
    plt.subplot(5,2, i+1)
    plt.title(col+"   "+"median_income")
    centers2 = k_means_new2.cluster_centers_
    plt.scatter(cluster_new2[col],cluster_new2["median_income"], c=cluster_new2["cluster_pred"],s=10)
    plt.scatter(centers2[:, 0], centers2[:, 1], c='red', s=20);
    plt.subplots_adjust(left=None, bottom=None, right=None, top=None, wspace=None, hspace=0.4)
    i+=1

In [ ]:
print(kmeanGroupingNames[3])
k_means_new3=KMeans(3)
k_means_new3.fit(x_std[kmeangroupings[3]])
cluster_new3=x_std[kmeangroupings[3]].copy()
cluster_new3['cluster_pred']=k_means_new3.fit_predict(x_std[kmeangroupings[3]])
cluster_new3.shape
plt.figure(figsize=(20,20))  # change the size of figure!
i=0
for col in cluster_new3.columns:
    plt.subplot(5,2, i+1)
    plt.title(col+"   "+"median_income")
    centers3 = k_means_new3.cluster_centers_
    plt.scatter(cluster_new3[col],cluster_new3["median_income"], c=cluster_new3["cluster_pred"],s=10)
    plt.scatter(centers3[:, 0], centers3[:, 1], c='red', s=20);
    plt.subplots_adjust(left=None, bottom=None, right=None, top=None, wspace=None, hspace=0.4)
    i+=1

In [ ]:
print(kmeanGroupingNames[4])
k_means_new4=KMeans(3)
k_means_new4.fit(x_std[kmeangroupings[4]])
cluster_new4=x_std[kmeangroupings[4]].copy()
cluster_new4['cluster_pred']=k_means_new4.fit_predict(x_std[kmeangroupings[4]])
plt.figure(figsize=(20,20))  # change the size of figure!
i=0
for col in cluster_new4.columns:
    plt.subplot(5,2, i+1)
    plt.title(col+"   "+"median_income")
    centers4 = k_means_new4.cluster_centers_
    plt.scatter(cluster_new4[col],cluster_new4["median_income"], c=cluster_new4["cluster_pred"],s=10)
    plt.scatter(centers4[:, 0], centers4[:, 1], c='red', s=20);
    plt.subplots_adjust(left=None, bottom=None, right=None, top=None, wspace=None, hspace=0.4)
    i+=1

In [ ]:
print(kmeanGroupingNames[5])
k_means_new5=KMeans(3)
k_means_new5.fit(x_std[kmeangroupings[5]])
cluster_new5=x_std[kmeangroupings[5]].copy()
cluster_new5['cluster_pred']=k_means_new5.fit_predict(x_std[kmeangroupings[5]])
cluster_new5.shape
plt.figure(figsize=(20,20))  # change the size of figure!
i=0
for col in cluster_new5.columns:
    plt.subplot(5,2, i+1)
    plt.title(col+"   "+"median_income")
    centers5 = k_means_new5.cluster_centers_
    plt.scatter(cluster_new5[col],cluster_new5["median_income"], c=cluster_new5["cluster_pred"],s=10)
    plt.scatter(centers5[:, 0], centers5[:, 1], c='red', s=20);
    plt.subplots_adjust(left=None, bottom=None, right=None, top=None, wspace=None, hspace=0.4)
    i+=1

In [ ]:
print(kmeanGroupingNames[6])
k_means_new6=KMeans(3)
k_means_new6.fit(x_std[kmeangroupings[6]])
cluster_new6=x_std[kmeangroupings[6]].copy()
cluster_new6['cluster_pred']=k_means_new6.fit_predict(x_std[kmeangroupings[6]])
cluster_new6.shape
plt.figure(figsize=(20,20))  # change the size of figure!
i=0
for col in cluster_new6.columns:
    plt.subplot(5,2, i+1)
    plt.title(col+"   "+"median_income")
    centers6 = k_means_new6.cluster_centers_
    plt.scatter(cluster_new6[col],cluster_new6["median_income"], c=cluster_new6["cluster_pred"],s=10)
    plt.scatter(centers6[:, 0], centers6[:, 1], c='red', s=20);
    plt.subplots_adjust(left=None, bottom=None, right=None, top=None, wspace=None, hspace=0.4)
    i+=1

In [ ]:
print(kmeanGroupingNames[7])
k_means_new7=KMeans(3)
k_means_new7.fit(x_std[kmeangroupings[7]])
cluster_new7=x_std[kmeangroupings[7]].copy()
cluster_new7['cluster_pred']=k_means_new7.fit_predict(x_std[kmeangroupings[7]])
cluster_new7.shape
plt.figure(figsize=(20,20))  # change the size of figure!
i=0
for col in cluster_new7.columns:
    plt.subplot(5,2, i+1)
    plt.title(col+"   "+"median_income")
    centers7 = k_means_new7.cluster_centers_
    plt.scatter(cluster_new7[col],cluster_new7["median_income"], c=cluster_new7["cluster_pred"],s=10)
    plt.scatter(centers7[:, 0], centers7[:, 1], c='red', s=20);
    plt.subplots_adjust(left=None, bottom=None, right=None, top=None, wspace=None, hspace=0.4)
    i+=1

In [ ]:
print(kmeanGroupingNames[8])
k_means_new8=KMeans(3)
k_means_new8.fit(x_std[kmeangroupings[8]])
cluster_new8=x_std[kmeangroupings[8]].copy()
cluster_new8['cluster_pred']=k_means_new8.fit_predict(x_std[kmeangroupings[8]])
cluster_new8.shape
plt.figure(figsize=(20,20))  # change the size of figure!
i=0
for col in cluster_new8.columns:
    plt.subplot(5,2, i+1)
    plt.title(col+"   "+"median_income")
    centers8 = k_means_new8.cluster_centers_
    plt.scatter(cluster_new8[col],cluster_new8["median_income"], c=cluster_new8["cluster_pred"],s=10)
    plt.scatter(centers8[:, 0], centers8[:, 1], c='red', s=20);
    plt.subplots_adjust(left=None, bottom=None, right=None, top=None, wspace=None, hspace=0.4)
    i+=1

In [ ]:
print(kmeanGroupingNames[9])
k_means_new9=KMeans(3)
k_means_new9.fit(x_std[kmeangroupings[9]])
cluster_new9=x_std[kmeangroupings[9]].copy()
cluster_new9['cluster_pred']=k_means_new9.fit_predict(x_std[kmeangroupings[9]])
cluster_new9.shape
plt.figure(figsize=(20,20))  # change the size of figure!
i=0
for col in cluster_new9.columns:
    plt.subplot(5,2, i+1)
    plt.title(col+"   "+"median_income")
    centers9 = k_means_new9.cluster_centers_
    plt.scatter(cluster_new9[col],cluster_new9["median_income"], c=cluster_new9["cluster_pred"],s=10)
    plt.scatter(centers9[:, 0], centers9[:, 1], c='red', s=20);
    plt.subplots_adjust(left=None, bottom=None, right=None, top=None, wspace=None, hspace=0.4)
    i+=1

In [ ]:
print(kmeanGroupingNames[10])
k_means_new10=KMeans(3)
k_means_new10.fit(x_std[kmeangroupings[10]])
cluster_new10=x_std[kmeangroupings[10]].copy()
cluster_new10['cluster_pred']=k_means_new10.fit_predict(x_std[kmeangroupings[10]])
plt.figure(figsize=(20,20))  # change the size of figure!
i=0
for col in cluster_new10.columns:
    plt.subplot(5,2, i+1)
    plt.title(col+"   "+"median_income")
    centers10 = k_means_new10.cluster_centers_
    plt.scatter(cluster_new10[col],cluster_new10["median_income"], c=cluster_new10["cluster_pred"],s=10)
    plt.scatter(centers10[:, 0], centers10[:, 1], c='red', s=20);
    plt.subplots_adjust(left=None, bottom=None, right=None, top=None, wspace=None, hspace=0.4)
    i+=1

In [ ]:
print(kmeanGroupingNames[11])
k_means_new11=KMeans(3)
k_means_new11.fit(x_std[kmeangroupings[11]])
cluster_new11=x_std[kmeangroupings[11]].copy()
cluster_new11['cluster_pred']=k_means_new11.fit_predict(x_std[kmeangroupings[11]])
plt.figure(figsize=(20,20))  # change the size of figure!
i=0
for col in cluster_new11.columns:
    plt.subplot(5,2, i+1)
    plt.title(col+"   "+"median_income")
    centers11 = k_means_new11.cluster_centers_
    plt.scatter(cluster_new11[col],cluster_new11["median_income"], c=cluster_new11["cluster_pred"],s=10)
    plt.scatter(centers11[:, 0], centers11[:, 1], c='red', s=20);
    plt.subplots_adjust(left=None, bottom=None, right=None, top=None, wspace=None, hspace=0.4)
    i+=1

In [ ]:
print(kmeanGroupingNames[12])
k_means_new12=KMeans(3)
k_means_new12.fit(x_std[kmeangroupings[12]])
cluster_new12=x_std[kmeangroupings[12]].copy()
cluster_new12['cluster_pred']=k_means_new12.fit_predict(x_std[kmeangroupings[12]])
plt.figure(figsize=(20,20))  # change the size of figure!
i=0
for col in cluster_new12.columns:
    plt.subplot(5,2, i+1)
    plt.title(col+"   "+"median_income")
    centers12 = k_means_new12.cluster_centers_
    plt.scatter(cluster_new12[col],cluster_new12["median_income"], c=cluster_new12["cluster_pred"],s=10)
    plt.scatter(centers12[:, 0], centers12[:, 1], c='red', s=20);
    plt.subplots_adjust(left=None, bottom=None, right=None, top=None, wspace=None, hspace=0.4)
    i+=1

<h2>VIF Analysis</h2>

In [ ]:
households_type=[
'married_households',
'family_households',
'nonfamily_households'
]
employment_status=[
'unemployed_pop',
'employed_pop'
]
housing_unit_types=[
'owner_occupied_housing_units',
'owner_occupied_housing_units_lower_value_quartile',
'owner_occupied_housing_units_median_value',
'owner_occupied_housing_units_upper_value_quartile',
'vacant_housing_units',
'vacant_housing_units_for_rent',
'vacant_housing_units_for_sale'
]
commute_type=[
'public_commute',
'personal_commute'
]
education=[
'college_educated',
'in_school',
'less_than_college_educated',
'high_school_educated'
]
pop_category=[
'asian_pop',
'amerindian_pop',
'black_pop',
'hispanic_pop',
'white_pop',
'amerindian_including_hispanic',
'other_race_pop',
'two_or_more_races_pop'
]

parents_type=[    
'two_parent_hh',
'one_parent_hh'
]

job_types=[
    'employed_creative',
'employed_prof',
'employed_skill',
'employed_service'
]

income_cat=[
'income_less_than_60000',
'income_less_than_125000',
'income_over_125000'
]

commute_length=[
'commute_less_than_30',
'commute_less_than_60',
'commute_over_60'
]

dwelling_type=[
'small_dwellings',
'large_dwellings'
]

rent_burden=[
'rent_under10',
'rent_tento50',
'rent_over50',
'rent_uncomputed'
]

gender_age=[
'male_under_18',
'male_under_60',
'male_over_60',
'female_under_18',
'female_under_60',
'female_over_60'
]

vifgroupings=[
    households_type,
    employment_status,
    housing_unit_types,
    commute_type,
    education,
    pop_category,
    parents_type,
    job_types,
    income_cat,
    commute_length,
    dwelling_type,
    rent_burden,
    gender_age
]

In [ ]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

plt.figure(figsize=(15,20)) 
for idx,vif in enumerate(vifgroupings):
    X = x_std[vifgroupings[idx]]
    vif_data = pd.DataFrame()
    vif_data["feature"] = X.columns
    try:
        vif_data["VIF"] = [variance_inflation_factor(X.values, i)
                                  for i in range(len(X.columns))]
        plt.barh(vif_data["feature"],vif_data["VIF"])
        plt.title("VIF Feature Groupings")
        plt.xlabel("VIF")
        plt.ylabel("Feature")
    except:
        print("Unable to calculate VIF for the following:",X.columns)

<h2>Another angle for analyzing Employment fields</h2>

In [ ]:
zipcode_group=acs_all_phoenix.groupby(["geo_id","Year"])

In [ ]:
#a bit imperfect but worth verifying with external data
def catAnalysisByMedianIncome(grouping,analysis_fields):
    fieldAverages=[]
    fieldDF=pd.DataFrame()
    for idx,frame in grouping:
        total_values=0
        zipcode_averages=[]
        for feat in analysis_fields:
            total_values+=frame[feat].astype(float).mean()
            if total_values >0:
                zipcode_averages.append(frame[feat].astype(float).mean()/total_values*frame["median_income"].astype(float).values[0])
            else:
                zipcode_averages.append(0)
        a_series = pd.Series(zipcode_averages)
        fieldDF = fieldDF.append(a_series, ignore_index=True)
    fieldDF.columns=analysis_fields
    return fieldDF.mean().sort_values()

In [ ]:
employment_fields=['management_business_sci_arts_employed',
'worked_at_home',
'occupation_natural_resources_construction_maintenance',
'employed_education_health_social',
'employed_agriculture_forestry_fishing_hunting_mining',
'sales_office_employed',
'employed_finance_insurance_real_estate',
'employed_transportation_warehousing_utilities',
'occupation_sales_office',
'occupation_management_arts',
'employed_public_administration',
'employed_science_management_admin_waste',
'occupation_production_transportation_material',
'employed_other_services_not_public_admin',
'employed_wholesale_trade',
'occupation_services',
'employed_arts_entertainment_recreation_accommodation_food',
'employed_retail_trade',
'employed_construction',
'employed_manufacturing']

print(catAnalysisByMedianIncome(zipcode_group,employment_fields))
#I would leave it as it is

<h2>Another angle for analysing commute length fields<h>

In [ ]:
commute_fields=[
    'commute_25_29_mins',
'commute_20_24_mins',
'commute_35_44_mins',
'commute_30_34_mins',
'commute_60_more_mins',
'commute_15_19_mins',
'commute_10_14_mins',
'commute_45_59_mins',
'commute_less_10_mins'
]
print(catAnalysisByMedianIncome(zipcode_group,commute_fields))

#Initial thought - commute 20-45 vs. commute 10-19 and commute 45 and above

In [ ]:
pop_fields=[
'asian_pop',
'other_race_pop',
'black_pop',
'hispanic_pop',
'amerindian_pop',
'white_pop'
]
print(catAnalysisByMedianIncome(zipcode_group,pop_fields))
#based on this article
#https://www.bizjournals.com/phoenix/news/2020/06/23/arizona-ranked-among-best-racial-equality.html
#not totally off - we should probably just keep these categories

In [ ]:
rent_perc_fields=[
'rent_under_10_percent',
'rent_over_50_percent',
'rent_30_to_35_percent',
'rent_10_to_15_percent',
'rent_40_to_50_percent',
'rent_35_to_40_percent',
'rent_15_to_20_percent',
'rent_25_to_30_percent',
'rent_20_to_25_percent'
]
print(catAnalysisByMedianIncome(zipcode_group,rent_perc_fields))
#rent under 10 and rent over 50 seem similar

In [ ]:
#update this list with other analysis
kmeans_keep_list_groupings=[
    'family_households',
    'nonfamily_households',
    'unemployed_pop',
    'owner_occupied_housing_units',
    'vacant_housing_units',
    'public_commute',
    'personal_commute',
    'college_educated',
    'two_parent_hh',
    'one_parent_hh',
    'public_commute',
    'personal_commute',
    'small_dwellings',
    'large_dwellings',
    'employed_creative',
    'employed_prof',
    'employed_skill',
    'employed_service'
    
]